.root {
  display: inline-table;
  padding-bottom: percentage(15/75);
  padding-right: percentage(15/100);
  margin-right: 0.5rem;
  background: url(statics/images/negative-portrait.png);
  transition: 400ms transform;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media only screen and (--viewport-xs) {
    padding-bottom: 25rem;
    padding-right: 18rem;
  }

  &:hover {
    outline: 4px solid var(--secondary);
    box-shadow: 0px 0px 4px 4px var(--secondary);
    z-index: 1;
  }
}
