.root {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  top: 0;
  right: 0;
  left: 0;
  height: 4rem;
  z-index: 200;
  background: var(--primary);

  .logo {
    height: 2.5rem;
  }
}
